<p id="notice"><%= notice %></p>

<h1>Recommendations</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recommendations.each do |recommendation| %>
      <tr>
        <td><%= recommendation.recommendation %></td>
        <td><%= link_to 'Show', recommendation %></td>
        <td><%= link_to 'Delete', recommendation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% if user_signed_in? && current_user.admin%>
        <td><%= link_to 'Edit', edit_recommendation_path(recommendation) %></td>
        
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recommendation', new_recommendation_path %>


