  <div class="magnolia">
  <ul class="collapsible popout" data-collapsible="accordion">
<li>
    <div class="collapsible-header"><i class="material-icons">person_outline</i><%= "About me"%></div>
      <div class="collapsible-body"><span> 
<% @abouts.each do |about| %>
      <div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title"><i class="material-icons">child_care</i>Early Childhood</span>
              <p>I was Born in 24th June 1996</p>
               <p>Raised in umoja Innercore,Nairobi,Kenya</p>
              
            </div>
            
          </div>
        </div>
      </div>
<div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title"><i class="material-icons">school</i>School</span>

              <p>I attended Simba Day nursery School</p>
               <p>Joined Busara Primary School where i finished my school and attained an A-</p>
                <p>I later joined Ikuu boys High School where i finshed my O levels</p>
                <p>Later i joined KCA university in Nairobi where i studied Business and commerce for a year and a half</p>
              
            </div>
            
          </div>
        </div>
      </div>
<div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title"><i class="material-icons">favorite</i>Interests</span>
              <p><%= about.description %></p>
              
            </div>
            
          </div>
        </div>
      </div>
<% end %>
      </span></div>
    </li>
    </ul>

  <ul class="collapsible popout" data-collapsible="accordion">
	<li>
     <div class="collapsible-header"><i class="material-icons">build</i><%= "Skills"%></div>
      <div class="collapsible-body"><span>
      <% @skills.each do |skill| %> 
       <div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title"><%= skill.name %></span>
              <p><%= skill.description %></p>
            </div>
           
          </div>
        </div>
      </div>
<% end %>
      </span></div>
    </li>
    </ul>
  

  <ul class="collapsible popout" data-collapsible="accordion">
<li>
    <div class="collapsible-header"><i class="material-icons">computer</i><%= "Projects"%></div>
      <div class="collapsible-body"><span>      <% @projects.each do |project| %>
      <div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title"><%= project.name %></span>
              <p><%= project.description %></p>
              
            </div>
            <div class="card-action">
              <a href="#">Launch app</a>
             
            </div>
          </div>
        </div>
      </div>
      <% end %>
      </span</span></div>
    </li>
    </ul>





<footer class="page-footer" id="footer">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<form id="contact" class="col s12" action="contact.php" method="post">
					<div class="row center">
						<h5 class="white-text">Contact Me</h5>
	  						<div class="row">
	    						<form class="col s12">
	      <div class="row">
	        <div class="input-field col s6">
	          <i class="material-icons prefix">account_circle</i>
	          <input id="icon_prefix" type="text" class="validate">
	          <label for="icon_prefix">Name</label>
	        </div>

	        <div class="input-field col s6">
	          <i class="material-icons prefix">email</i>
	          <input id="icon_telephone" type="tel" class="validate">
	          <label for="icon_telephone">Email</label>
	        </div>
	      </div>
	    </form>
	  </div>
	  <div class="row">
	    <form class="col s12">
	      <div class="row">
	        <div class="input-field col s6">
	          <i class="material-icons prefix">mode_edit</i>
	          <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
	          <label for="icon_prefix2">Message</label>
	        </div>
	      </div>
	    </form>
	  </div>
	<div class="col offset-s7 s5">
	<button class="btn waves-effect waves-light red darken-1" type="submit">Submit
	<i class="mdi-content-send right white-text"></i>
	</button>
	</div>
	</div>
	</form>
	</div>
	<div class="col l4 offset-l2 s12">
	<h5 class="white-text">Social media</h5>
	<ul>
	<li><a class="grey-text text-lighten-3" href="https://www.facebook.com/karvin.mitchar">Facebook</a></li>

	<li><a class="grey-text text-lighten-3" href="https://github.com/KELVINMUNENE">Github</a></li>
<li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/kelvin-munene-8a6bb0146/">Linkedin</a></li>
	<li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/kelvin-munene-8a6bb0146/">Twitter</a></li>
	</ul>
	</div>
	</div>
	</div>
	<div class="footer-copyright">
	<div class="container">
	© portfolio
	<a class="grey-text text-lighten-4 right" href="https://twitter.com/MitcharKarvin">Created by Kelvinmunene</a>
	</div>
	</div>
</footer>

</body>
</html>