<p id="notice"><%= notice %></p>
<div class="container">
  <%= @project.name %>
  
  <%= link_to @project.link %>
 

</div>
<% if user_signed_in? && current_user.admin%>
<%= link_to 'Edit', edit_project_path(@project) %> |
<%end%>
<%= link_to 'Back', projects_path %>



