<p id="notice"><%= notice %></p>
<h1><%= @about.description %></h1>
<div class="description">
<%= @about.description%>
</div>
<%= link_to 'Edit', edit_about_path(@about) %> |
<%= link_to 'Back', abouts_path %>







