<p id="notice"><%= notice %></p>
<h1><%= @about.description %></h1>
<div class="description">
<%= @about.description%>
</div>
<br>
<% if user_signed_in? && current_user.admin%>
<%= link_to 'Edit', edit_about_path(@about) %> |
<%end%>
<%= link_to 'Back', abouts_path %>







