<p id="notice"><%= notice %></p>
<h1><%= @post.title %></h1>
<div class="description">
  <%= @post.description %>
</div>
<ol>
	<% @post.comments.each do |comment|%>
	<li>
		<%= comment.description%> by <%= comment.user.email%><br><%= time_ago_in_words comment.created_at %>
	</li>
<%end%>
</ol>
<% if user_signed_in? && current_user.admin%>
<%= link_to 'New comment', new_post_comment_path(@post)%> |
<%= link_to 'Edit', edit_post_path(@post) %> |
<% elsif user_signed_in?%>
<%= link_to 'New comment', new_post_comment_path(@post),remote: true ,id:'new_task_link' %> |
<% end %>
<%= link_to 'Back', posts_path %>




