<!DOCTYPE html>
<html>
  <head>
    <title>Port</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=016528315742680598984:yukbakzqxbc"
  type="text/javascript"></script>
  </head>

  <body>
   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>
   <nav>
    <div class="nav-wrapper" id="navnav">
      <a href="#" class="navnav">Kelvin Munene</a>

      
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to "<i class='material-icons'>home</i>".html_safe, root_path%></li>
         <li><%= link_to "RECOMMENDATIONS", recommendations_path %></li>
         <li><%= link_to "POSTS", posts_path%></li>
      

        <% if user_signed_in?%>

        <li> <%= link_to "logout", destroy_user_session_path, method: :delete%></li>
        <li><%= link_to "<i class='material-icons'>settings</i>".html_safe, edit_user_registration_path %></li>
        <% else %>
        <li> <%= link_to "login", new_user_session_path %></li>
        <li> <%= link_to "signup", new_user_registration_path %></li>

        <%end%>

      </ul>
    </div>
  </nav>
     <%= yield %>
  </body>
</html>


