<!DOCTYPE html>
<html>
  <head>
    <title>Port</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>
    <nav>
    <div class="nav-wrapper" id ="navnav">
      <a href="#" class="brand-logo right"><%= link_to "posts", posts_path%></a>
      <a href="#" class="brand-logo right"><%= link_to "recommendations", recommendations_path %></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><%= link_to "<i class='material-icons'>home</i>".html_safe, root_path%></li>
         <li><%= link_to "recommendations", recommendations_path %></li>

        <% if user_signed_in?%>

        <li> <%= link_to "logout", destroy_user_session_path, method: :delete%></li>
        <li><%= link_to "<i class='material-icons'>build</i>".html_safe, edit_user_registration_path %></li>
        <% else %>
        <li> <%= link_to "login", new_user_session_path %></li>
        <li> <%= link_to "signup", new_user_registration_path %></li>

        <%end%>

      </ul>
    </div>
  </nav>
     <%= yield %>
  </body>
</html>



